<!DOCTYPE html>

{% load static %}

<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title> Address Book </title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="#">
      <link rel="stylesheet" href="{% static 'style.css' %}">
   </head>

   <body>
      <div class ="topHeader">
         <h1> Address Book </h1>

         <!-- search bar -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <form action="/" method="GET" class="search">
            <input type="search-name" placeholder="Search Contacts" name="search-area" value="{{searchQuery}}" class = "searchBar">
            
            <button type="submit"><i class="fa fa-search"></i></button>

         </form> 

         <a href="{% url 'add-contact' %}" class="button"> + New Contact </a>

      </div>

      <div class = "message"> Click on any box to view contact info, update and delete. </div>
      
      <div class = "allContacts">
         <ul class = "address-book">
            <div class = "contactContainer">
            {% for contact in contacts %}

               <a href="{% url 'profile' contact.id %}" style="text-decoration: none;">
            
               <li>
                  <p class="contactBox">{{ contact.firstName | title }} {{ contact.lastName | title }}  
                  <br>
                  {{ contact.streetAddress}} </p>
               </li>
            
            <!-- if no contacts present, display message -->
            {% empty %}
				<h3 style="color:#fff;padding:20px;"> No contacts, click button "Add Contact" to add! </h3>

            {% endfor %}
         </ul>
      </div>

      <div>
         <a href="{% url 'logout' %}" class="button" id = "logoutButton"> Logout </a>
      </div>
   </body>
</html>