{% load static %}
<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Address Book</title>
      <meta name="description" content="">
      <link rel="stylesheet" href="{% static 'style-edit.css' %}">
   </head>

   <body>
      <h2> Add New Contact </h2>

      <a href="{% url 'index' %}" class="button"> Back </a>
      <!--  new contact form -->
      <form action="" method="POST">
         {% csrf_token %}

         <ul>
         <li>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstname">
         </li>
         <li>
            <label for="mail">Last Name:</label>
            <input type="text" id="lastName" name="lastname">
         </li>
         <li>
            <label for="msg">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phonenumber">
         </li>
         <li>
            <label for="msg">Email Address:</label>
            <input type="email" id="emailAddress" name="emailaddress">
         </li>
         <li>
            <label for="msg">Address:</label>
             <input type="text" id="streetAddress" name="streetaddress">
         </li>
         </ul>
         <input type="submit" value="Save Contact"/>
      </form>

      

   </body>
</html>